In [3]:
!pip install pandasql
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sklearn
import scipy

Collecting pandasql
  Downloading https://files.pythonhosted.org/packages/6b/c4/ee4096ffa2eeeca0c749b26f0371bd26aa5c8b611c43de99a4f86d3de0a7/pandasql-0.7.3.tar.gz
Requirement already satisfied: numpy in c:\anaconda3\lib\site-packages (from pandasql) (1.16.4)
Requirement already satisfied: pandas in c:\anaconda3\lib\site-packages (from pandasql) (0.23.3)
Requirement already satisfied: sqlalchemy in c:\anaconda3\lib\site-packages (from pandasql) (1.3.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\anaconda3\lib\site-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in c:\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas->pandasql) (1.12.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Stored in directory: C:\Users\hipra\AppData\Local\pip\Cache\wheels\53\6c\18\b87a2e5fa8a82e9c026311de56210b8d1c01846e18a9607fc9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
from sklearn.datasets import load_iris
import pandas as pd
from pandasql import sqldf
#from pandasql import load_meat, load_births
import re
data = pd.read_csv("D:/Documents/Data Science/regression/50-Startups.csv")

In [6]:
births = load_births()
meat = load_meat()
iris = load_iris()


iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)

iris_df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

iris_df.columns = [re.sub("[() ]", "", col) for col in iris_df.columns]

In [3]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54  California  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42  California  166187.94

In [7]:
print(sqldf("SELECT * FROM data LIMIT 10;", locals()))

print(sqldf("SELECT State, Administration, Profit FROM data LIMIT 10;", locals()))

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54  California  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42  California  166187.94
5  131876.90        99814.71        362861.36    New York  156991.12
6  134615.46       147198.87        127716.82  California  156122.51
7  130298.13       145530.06        323876.68    New York  155752.60
8  120542.52       148718.95        311613.29    New York  152211.77
9  123334.88       108679.17        304981.62  California  149759.96
        State  Administration     Profit
0    New York       136897.80  192261.83
1  California       151377.59  191792.06
2  California       101145.55  191050.39
3    New York       118671.85  182901.99
4  California        91391.77  166187.94
5    New York        99814.71  156991.12
6  California       147198.87  156122.51
7    New York       145530.06  155752.60
8    New York       148718.95  152211.77
9  California       108679.17  149759.96

In [8]:
q = """
      select
        State
        , avg(Profit)
        , min(Profit)
        , max(Profit)
      from
        data
      group by
        State;
        
"""
print("*" * 80)
print("aggregation")
print("-" * 80)
print(q)
print(sqldf(q, locals()))

********************************************************************************
aggregation
--------------------------------------------------------------------------------

      select
        State
        , avg(Profit)
        , min(Profit)
        , max(Profit)
      from
        data
      group by
        State;


        State  avg(Profit)  min(Profit)  max(Profit)
0  California  110308.3840     14681.40    191792.06
1    New York  113716.8944     35673.41    192261.83

In [9]:
def pysqldf(q):
    "add this to your script if you get tired of calling locals()"
    return sqldf(q, globals())


print("*" * 80)
print("calling from a helper function")
print('''def pysqldf(q):)
    "add this to your script if you get tired of calling locals()"
        return sqldf(q, globals())''')
print("-" * 80)
print(q)
print(pysqldf(q))

********************************************************************************
calling from a helper function
def pysqldf(q):)
    "add this to your script if you get tired of calling locals()"
        return sqldf(q, globals())
--------------------------------------------------------------------------------

      select
        State
        , avg(Profit)
        , min(Profit)
        , max(Profit)
      from
        data
      group by
        State;


        State  avg(Profit)  min(Profit)  max(Profit)
0  California  110308.3840     14681.40    191792.06
1    New York  113716.8944     35673.41    192261.83

In [10]:
q = """
    select
        a.*
    from
        data a
    inner join
        data b
            on a.State = b.State
    limit 10;
"""

print("*" * 80)
print("joins")
print("-" * 80)
print(q)
print(pysqldf(q))

********************************************************************************
joins
--------------------------------------------------------------------------------

    select
        a.*
    from
        data a
    inner join
        data b
            on a.State = b.State
    limit 10;

   R&D Spend  Administration  Marketing Spend     State     Profit
0   165349.2        136897.8         471784.1  New York  192261.83
1   165349.2        136897.8         471784.1  New York  192261.83
2   165349.2        136897.8         471784.1  New York  192261.83
3   165349.2        136897.8         471784.1  New York  192261.83
4   165349.2        136897.8         471784.1  New York  192261.83
5   165349.2        136897.8         471784.1  New York  192261.83
6   165349.2        136897.8         471784.1  New York  192261.83
7   165349.2        136897.8         471784.1  New York  192261.83
8   165349.2        136897.8         471784.1  New York  192261.83
9   165349.2        136897.8         471784.1  New York  192261.83

In [11]:
q = """
    select
        *
    from
        data
    where
        State = 'California'
        and Profit > 150000;
"""
print("*" * 80)
print("where clause")
print("-" * 80)
print(q)
print(pysqldf(q))

********************************************************************************
where clause
--------------------------------------------------------------------------------

    select
        *
    from
        data
    where
        State = 'California'
        and Profit > 150000;

   R&D Spend  Administration  Marketing Spend       State     Profit
0  162597.70       151377.59        443898.53  California  191792.06
1  153441.51       101145.55        407934.54  California  191050.39
2  142107.34        91391.77        366168.42  California  166187.94
3  134615.46       147198.87        127716.82  California  156122.51

In [13]:
data['id'] = range(len(data))
q = """
    select
        *
    from
        data
    where
        id in (select id from data where Profit/Administration > 1.25);
"""
print("*" * 80)
print("subqueries")
print("-" * 80)
print(q)
print(pysqldf(q))

********************************************************************************
subqueries
--------------------------------------------------------------------------------

    select
        *
    from
        data
    where
        id in (select id from data where Profit/Administration > 1.25);

   R&D Spend  Administration  Marketing Spend       State     Profit  id
0  165349.20       136897.80        471784.10    New York  192261.83   0
1  162597.70       151377.59        443898.53  California  191792.06   1
2  153441.51       101145.55        407934.54  California  191050.39   2
3  144372.41       118671.85        383199.62    New York  182901.99   3
4  142107.34        91391.77        366168.42  California  166187.94   4
5  131876.90        99814.71        362861.36    New York  156991.12   5
6  123334.88       108679.17        304981.62  California  149759.96   9
7  101913.08       110594.11        229160.95  California  146121.95  10
8  100671.96        91790.61        249744.55  California  144259.40  11
9   44069.95        51283.14        197029.42  California   89949.14  37