In [3]:
!pip install pandasql
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sklearn
import scipy

Collecting pandasql
  Downloading https://files.pythonhosted.org/packages/6b/c4/ee4096ffa2eeeca0c749b26f0371bd26aa5c8b611c43de99a4f86d3de0a7/pandasql-0.7.3.tar.gz
Requirement already satisfied: numpy in c:\anaconda3\lib\site-packages (from pandasql) (1.16.4)
Requirement already satisfied: pandas in c:\anaconda3\lib\site-packages (from pandasql) (0.23.3)
Requirement already satisfied: sqlalchemy in c:\anaconda3\lib\site-packages (from pandasql) (1.3.1)
Requirement already satisfied: python-dateutil>=2.5.0 in c:\anaconda3\lib\site-packages (from pandas->pandasql) (2.8.0)
Requirement already satisfied: pytz>=2011k in c:\anaconda3\lib\site-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in c:\anaconda3\lib\site-packages (from python-dateutil>=2.5.0->pandas->pandasql) (1.12.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py): started
  Building wheel for pandasql (setup.py): finished with status 'done'
  Stored in directory: C:\Users\hipra\AppData\Local\pip\Cache\wheels\53\6c\18\b87a2e5fa8a82e9c026311de56210b8d1c01846e18a9607fc9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [5]:
from sklearn.datasets import load_iris
import pandas as pd
from pandasql import sqldf
from pandasql import load_meat, load_births
import re

In [6]:
births = load_births()
meat = load_meat()
iris = load_iris()


iris_df = pd.DataFrame(iris.data, columns=iris.feature_names)

iris_df['species'] = pd.Categorical.from_codes(iris.target, iris.target_names)

iris_df.columns = [re.sub("[() ]", "", col) for col in iris_df.columns]

In [7]:
print(sqldf("SELECT * FROM iris_df LIMIT 10;", locals()))

print(sqldf("SELECT sepalwidthcm, species FROM iris_df LIMIT 10;", locals()))

   sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm species
0            5.1           3.5            1.4           0.2  setosa
1            4.9           3.0            1.4           0.2  setosa
2            4.7           3.2            1.3           0.2  setosa
3            4.6           3.1            1.5           0.2  setosa
4            5.0           3.6            1.4           0.2  setosa
5            5.4           3.9            1.7           0.4  setosa
6            4.6           3.4            1.4           0.3  setosa
7            5.0           3.4            1.5           0.2  setosa
8            4.4           2.9            1.4           0.2  setosa
9            4.9           3.1            1.5           0.1  setosa
   sepalwidthcm species
0           3.5  setosa
1           3.0  setosa
2           3.2  setosa
3           3.1  setosa
4           3.6  setosa
5           3.9  setosa
6           3.4  setosa
7           3.4  setosa
8           2.9  setosa
9           3.1  setosa

In [8]:
q = """
      select
        species
        , avg(sepalwidthcm)
        , min(sepalwidthcm)
        , max(sepalwidthcm)
      from
        iris_df
      group by
        species;
        
"""
print("*" * 80)
print("aggregation")
print("-" * 80)
print(q)
print(sqldf(q, locals()))

********************************************************************************
aggregation
--------------------------------------------------------------------------------

      select
        species
        , avg(sepalwidthcm)
        , min(sepalwidthcm)
        , max(sepalwidthcm)
      from
        iris_df
      group by
        species;


      species  avg(sepalwidthcm)  min(sepalwidthcm)  max(sepalwidthcm)
0      setosa              3.428                2.3                4.4
1  versicolor              2.770                2.0                3.4
2   virginica              2.974                2.2                3.8

In [9]:
def pysqldf(q):
    "add this to your script if you get tired of calling locals()"
    return sqldf(q, globals())


print("*" * 80)
print("calling from a helper function")
print('''def pysqldf(q):)
    "add this to your script if you get tired of calling locals()"
        return sqldf(q, globals())''')
print("-" * 80)
print(q)
print(pysqldf(q))

********************************************************************************
calling from a helper function
def pysqldf(q):)
    "add this to your script if you get tired of calling locals()"
        return sqldf(q, globals())
--------------------------------------------------------------------------------

      select
        species
        , avg(sepalwidthcm)
        , min(sepalwidthcm)
        , max(sepalwidthcm)
      from
        iris_df
      group by
        species;


      species  avg(sepalwidthcm)  min(sepalwidthcm)  max(sepalwidthcm)
0      setosa              3.428                2.3                4.4
1  versicolor              2.770                2.0                3.4
2   virginica              2.974                2.2                3.8

In [10]:
q = """
    select
        a.*
    from
        iris_df a
    inner join
        iris_df b
            on a.species = b.species
    limit 10;
"""

print("*" * 80)
print("joins")
print("-" * 80)
print(q)
print(pysqldf(q))

********************************************************************************
joins
--------------------------------------------------------------------------------

    select
        a.*
    from
        iris_df a
    inner join
        iris_df b
            on a.species = b.species
    limit 10;

   sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm species
0            5.1           3.5            1.4           0.2  setosa
1            5.1           3.5            1.4           0.2  setosa
2            5.1           3.5            1.4           0.2  setosa
3            5.1           3.5            1.4           0.2  setosa
4            5.1           3.5            1.4           0.2  setosa
5            5.1           3.5            1.4           0.2  setosa
6            5.1           3.5            1.4           0.2  setosa
7            5.1           3.5            1.4           0.2  setosa
8            5.1           3.5            1.4           0.2  setosa
9            5.1           3.5            1.4           0.2  setosa

In [18]:
q = """
    select
        *
    from
        iris_df
    where
        species = 'virginica'
        and sepallengthcm > 7.7;
"""
print("*" * 80)
print("where clause")
print("-" * 80)
print(q)
print(pysqldf(q))

********************************************************************************
where clause
--------------------------------------------------------------------------------

    select
        *
    from
        iris_df
    where
        species = 'virginica'
        and sepallengthcm > 7.7;

   sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm    species   id
0            7.9           3.8            6.4           2.0  virginica  131

In [12]:
iris_df['id'] = range(len(iris_df))
q = """
    select
        *
    from
        iris_df
    where
        id in (select id from iris_df where sepalwidthcm*sepallengthcm > 25);
"""
print("*" * 80)
print("subqueries")
print("-" * 80)
print(q)
print(pysqldf(q))

********************************************************************************
subqueries
--------------------------------------------------------------------------------

    select
        *
    from
        iris_df
    where
        id in (select id from iris_df where sepalwidthcm*sepallengthcm > 25);

   sepallengthcm  sepalwidthcm  petallengthcm  petalwidthcm    species   id
0            5.7           4.4            1.5           0.4     setosa   15
1            7.2           3.6            6.1           2.5  virginica  109
2            7.7           3.8            6.7           2.2  virginica  117
3            7.9           3.8            6.4           2.0  virginica  131

In [13]:
q = """
    SELECT
        m.*
        , b.births
    FROM
        meat m
    INNER JOIN
        births b
            on m.date = b.date
    ORDER BY
        m.date;
"""

print(pysqldf(q).head())

                         date    beef  veal    pork  lamb_and_mutton  \
0  1975-01-01 00:00:00.000000  2106.0  59.0  1114.0             36.0
1  1975-02-01 00:00:00.000000  1845.0  50.0   954.0             31.0
2  1975-03-01 00:00:00.000000  1891.0  57.0   976.0             35.0
3  1975-04-01 00:00:00.000000  1895.0  60.0  1100.0             34.0
4  1975-05-01 00:00:00.000000  1849.0  59.0   934.0             31.0

   broilers  other_chicken  turkey  births
0     646.2            NaN    64.9  265775
1     570.2            NaN    47.1  241045
2     616.6            NaN    54.4  268849
3     688.3            NaN    68.7  247455
4     690.1            NaN    81.9  254545

In [14]:
births

          date  births
0   1975-01-01  265775
1   1975-02-01  241045
2   1975-03-01  268849
3   1975-04-01  247455
4   1975-05-01  254545
5   1975-06-01  254096
6   1975-07-01  275163
7   1975-08-01  281300
8   1975-09-01  270738
9   1975-10-01  265494
10  1975-11-01  251973
11  1975-12-01  260532
12  1976-01-01  259173
13  1976-01-01  257455
14  1976-02-01  238153
15  1976-02-01  236551
16  1976-03-01  261608
17  1976-03-01  257951
18  1976-04-01  250992
19  1976-04-01  246469
20  1976-05-01  261572
21  1976-05-01  256986
22  1976-06-01  255734
23  1976-06-01  250525
24  1976-07-01  279744
25  1976-07-01  279630
26  1976-08-01  279937
27  1976-08-01  286496
28  1976-09-01  273750
29  1976-09-01  283718
..         ...     ...
378 2008-07-01  367934
379 2008-08-01  387798
380 2008-09-01  374711
381 2008-10-01  367354
382 2008-11-01  351832
383 2008-12-01  356111
384 2011-01-01  356457
385 2011-02-01  338521
386 2011-03-01  350630
387 2011-04-01  346397
388 2011-05-01  354886
389 2011-06-01  348587
390 2011-07-01  375384
391 2011-08-01  373333
392 2011-09-01  367965
393 2011-10-01  357875
394 2011-11-01  323788
395 2011-12-01  353871
396 2012-01-01  337980
397 2012-02-01  316641
398 2012-03-01  347803
399 2012-04-01  337272
400 2012-05-01  345257
401 2012-06-01  346971
402 2012-07-01  368450
403 2012-08-01  359554
404 2012-09-01  361922
405 2012-10-01  347625
406 2012-11-01  320195
407 2012-12-01  340995

[408 rows x 2 columns]

In [15]:
meat

,date,beef,veal,pork,lamb_and_mutton,broilers,other_chicken,turkey
0,1944-01-01,751.0,85.0,1280.0,89.0,NaN,NaN,NaN
1,1944-02-01,713.0,77.0,1169.0,72.0,NaN,NaN,NaN
2,1944-03-01,741.0,90.0,1128.0,75.0,NaN,NaN,NaN
3,1944-04-01,650.0,89.0,978.0,66.0,NaN,NaN,NaN
4,1944-05-01,681.0,106.0,1029.0,78.0,NaN,NaN,NaN
5,1944-06-01,658.0,125.0,962.0,79.0,NaN,NaN,NaN
6,1944-07-01,662.0,142.0,796.0,82.0,NaN,NaN,NaN
7,1944-08-01,787.0,175.0,748.0,87.0,NaN,NaN,NaN
8,1944-09-01,774.0,182.0,678.0,91.0,NaN,NaN,NaN
9,1944-10-01,834.0,215.0,777.0,100.0,NaN,NaN,NaN
10,1944-11-01,786.0,197.0,944.0,91.0,NaN,NaN,NaN
11,1944-12-01,764.0,146.0,1013.0,91.0,NaN,NaN,NaN
12,1945-01-01,820.0,119.0,1037.0,100.0,NaN,NaN,NaN
13,1945-02-01,816.0,97.0,724.0,81.0,NaN,NaN,NaN
14,1945-03-01,836.0,107.0,723.0,87.0,NaN,NaN,NaN
15,1945-04-01,736.0,98.0,651.0,78.0,NaN,NaN,NaN
16,1945-05-01,747.0,103.0,682.0,87.0,NaN,NaN,NaN
17,1945-06-01,739.0,110.0,674.0,87.0,NaN,NaN,NaN
18,1945-07-01,736.0,117.0,610.0,82.0,NaN,NaN,NaN
19,1945-08-01,858.0,145.0,531.0,77.0,NaN,NaN,NaN
20,1945-09-01,910.0,164.0,535.0,80.0,NaN,NaN,NaN
21,1945-10-01,1022.0,201.0,628.0,95.0,NaN,NaN,NaN
22,1945-11-01,933.0,173.0,945.0,86.0,NaN,NaN,NaN
23,1945-12-01,783.0,118.0,1103.0,90.0,NaN,NaN,NaN
24,1946-01-01,856.0,101.0,1051.0,74.0,NaN,NaN,NaN
25,1946-02-01,827.0,85.0,966.0,109.0,NaN,NaN,NaN
26,1946-03-01,796.0,92.0,780.0,97.0,NaN,NaN,NaN
27,1946-04-01,734.0,91.0,846.0,83.0,NaN,NaN,NaN
28,1946-05-01,605.0,83.0,810.0,65.0,NaN,NaN,NaN
29,1946-06-01,461.0,78.0,505.0,75.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
797,2010-06-01,2320.0,10.7,1831.7,14.1,3139.7,43.7,489.5
798,2010-07-01,2229.6,10.9,1702.2,12.8,3057.7,44.9,466.9
799,2010-08-01,2286.6,11.2,1815.3,12.8,3200.0,47.5,481.1
800,2010-09-01,2252.2,11.3,1883.5,13.1,3238.3,45.6,467.1
801,2010-10-01,2234.9,11.4,2002.7,13.1,3183.7,41.0,524.3
802,2010-11-01,2235.5,11.3,2068.0,14.4,3124.4,40.3,520.5
803,2010-12-01,2270.9,11.7,2055.4,14.9,3175.0,44.1,461.4
804,2011-01-01,2122.9,10.8,1896.2,11.2,3127.5,39.8,463.0
805,2011-02-01,2020.4,10.5,1768.1,10.9,2852.4,37.4,435.6
806,2011-03-01,2266.2,12.1,2054.4,14.1,3310.4,44.1,503.1
807,2011-04-01,2052.5,10.2,1790.7,14.4,2973.5,40.3,455.6
808,2011-05-01,2131.9,10.3,1759.7,12.9,3251.1,42.9,496.4
809,2011-06-01,2375.0,11.2,1820.0,12.6,3284.6,49.3,519.3
810,2011-07-01,2134.1,10.1,1637.1,10.9,3030.9,46.2,448.1
811,2011-08-01,2386.9,11.4,1892.1,13.1,3330.3,49.9,501.3
812,2011-09-01,2215.2,10.7,1954.4,11.8,3180.4,47.0,473.2
813,2011-10-01,2215.1,10.6,2033.2,11.7,3096.8,43.4,524.5
814,2011-11-01,2148.8,10.8,2086.7,12.6,2907.1,39.8,511.4
815,2011-12-01,2126.3,10.8,2065.6,12.5,2855.8,41.4,458.9
816,2012-01-01,2113.8,10.4,1987.0,12.1,3091.8,43.2,476.7
817,2012-02-01,2009.0,9.8,1882.9,12.3,2954.0,38.8,466.8
818,2012-03-01,2159.8,10.0,1987.9,14.2,3043.7,40.1,502.1
819,2012-04-01,1990.6,9.9,1841.7,12.9,2993.8,41.6,478.0
820,2012-05-01,2232.0,10.4,1926.8,13.6,3278.0,47.7,519.9
821,2012-06-01,2252.1,8.9,1750.4,12.4,3105.3,49.2,506.6
822,2012-07-01,2200.8,9.5,1721.8,12.5,3127.0,43.4,497.2
823,2012-08-01,2367.5,10.1,1997.9,14.2,3317.4,51.0,530.1
824,2012-09-01,2016.0,8.8,1911.0,12.5,2927.1,43.7,453.1
825,2012-10-01,2343.7,10.3,2210.4,14.2,3335.0,43.8,579.9
826,2012-11-01,2206.6,10.1,2078.7,12.4,3006.7,37.5,515.3

In [16]:
iris

{'data': array([[5.1, 3.5, 1.4, 0.2],
        [4.9, 3. , 1.4, 0.2],
        [4.7, 3.2, 1.3, 0.2],
        [4.6, 3.1, 1.5, 0.2],
        [5. , 3.6, 1.4, 0.2],
        [5.4, 3.9, 1.7, 0.4],
        [4.6, 3.4, 1.4, 0.3],
        [5. , 3.4, 1.5, 0.2],
        [4.4, 2.9, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.1],
        [5.4, 3.7, 1.5, 0.2],
        [4.8, 3.4, 1.6, 0.2],
        [4.8, 3. , 1.4, 0.1],
        [4.3, 3. , 1.1, 0.1],
        [5.8, 4. , 1.2, 0.2],
        [5.7, 4.4, 1.5, 0.4],
        [5.4, 3.9, 1.3, 0.4],
        [5.1, 3.5, 1.4, 0.3],
        [5.7, 3.8, 1.7, 0.3],
        [5.1, 3.8, 1.5, 0.3],
        [5.4, 3.4, 1.7, 0.2],
        [5.1, 3.7, 1.5, 0.4],
        [4.6, 3.6, 1. , 0.2],
        [5.1, 3.3, 1.7, 0.5],
        [4.8, 3.4, 1.9, 0.2],
        [5. , 3. , 1.6, 0.2],
        [5. , 3.4, 1.6, 0.4],
        [5.2, 3.5, 1.5, 0.2],
        [5.2, 3.4, 1.4, 0.2],
        [4.7, 3.2, 1.6, 0.2],
        [4.8, 3.1, 1.6, 0.2],
        [5.4, 3.4, 1.5, 0.4],
        [5.2, 4.1, 1.5, 0.1],
        [5.5, 4.2, 1.4, 0.2],
        [4.9, 3.1, 1.5, 0.2],
        [5. , 3.2, 1.2, 0.2],
        [5.5, 3.5, 1.3, 0.2],
        [4.9, 3.6, 1.4, 0.1],
        [4.4, 3. , 1.3, 0.2],
        [5.1, 3.4, 1.5, 0.2],
        [5. , 3.5, 1.3, 0.3],
        [4.5, 2.3, 1.3, 0.3],
        [4.4, 3.2, 1.3, 0.2],
        [5. , 3.5, 1.6, 0.6],
        [5.1, 3.8, 1.9, 0.4],
        [4.8, 3. , 1.4, 0.3],
        [5.1, 3.8, 1.6, 0.2],
        [4.6, 3.2, 1.4, 0.2],
        [5.3, 3.7, 1.5, 0.2],
        [5. , 3.3, 1.4, 0.2],
        [7. , 3.2, 4.7, 1.4],
        [6.4, 3.2, 4.5, 1.5],
        [6.9, 3.1, 4.9, 1.5],
        [5.5, 2.3, 4. , 1.3],
        [6.5, 2.8, 4.6, 1.5],
        [5.7, 2.8, 4.5, 1.3],
        [6.3, 3.3, 4.7, 1.6],
        [4.9, 2.4, 3.3, 1. ],
        [6.6, 2.9, 4.6, 1.3],
        [5.2, 2.7, 3.9, 1.4],
        [5. , 2. , 3.5, 1. ],
        [5.9, 3. , 4.2, 1.5],
        [6. , 2.2, 4. , 1. ],
        [6.1, 2.9, 4.7, 1.4],
        [5.6, 2.9, 3.6, 1.3],
        [6.7, 3.1, 4.4, 1.4],
        [5.6, 3. , 4.5, 1.5],
        [5.8, 2.7, 4.1, 1. ],
        [6.2, 2.2, 4.5, 1.5],
        [5.6, 2.5, 3.9, 1.1],
        [5.9, 3.2, 4.8, 1.8],
        [6.1, 2.8, 4. , 1.3],
        [6.3, 2.5, 4.9, 1.5],
        [6.1, 2.8, 4.7, 1.2],
        [6.4, 2.9, 4.3, 1.3],
        [6.6, 3. , 4.4, 1.4],
        [6.8, 2.8, 4.8, 1.4],
        [6.7, 3. , 5. , 1.7],
        [6. , 2.9, 4.5, 1.5],
        [5.7, 2.6, 3.5, 1. ],
        [5.5, 2.4, 3.8, 1.1],
        [5.5, 2.4, 3.7, 1. ],
        [5.8, 2.7, 3.9, 1.2],
        [6. , 2.7, 5.1, 1.6],
        [5.4, 3. , 4.5, 1.5],
        [6. , 3.4, 4.5, 1.6],
        [6.7, 3.1, 4.7, 1.5],
        [6.3, 2.3, 4.4, 1.3],
        [5.6, 3. , 4.1, 1.3],
        [5.5, 2.5, 4. , 1.3],
        [5.5, 2.6, 4.4, 1.2],
        [6.1, 3. , 4.6, 1.4],
        [5.8, 2.6, 4. , 1.2],
        [5. , 2.3, 3.3, 1. ],
        [5.6, 2.7, 4.2, 1.3],
        [5.7, 3. , 4.2, 1.2],
        [5.7, 2.9, 4.2, 1.3],
        [6.2, 2.9, 4.3, 1.3],
        [5.1, 2.5, 3. , 1.1],
        [5.7, 2.8, 4.1, 1.3],
        [6.3, 3.3, 6. , 2.5],
        [5.8, 2.7, 5.1, 1.9],
        [7.1, 3. , 5.9, 2.1],
        [6.3, 2.9, 5.6, 1.8],
        [6.5, 3. , 5.8, 2.2],
        [7.6, 3. , 6.6, 2.1],
        [4.9, 2.5, 4.5, 1.7],
        [7.3, 2.9, 6.3, 1.8],
        [6.7, 2.5, 5.8, 1.8],
        [7.2, 3.6, 6.1, 2.5],
        [6.5, 3.2, 5.1, 2. ],
        [6.4, 2.7, 5.3, 1.9],
        [6.8, 3. , 5.5, 2.1],
        [5.7, 2.5, 5. , 2. ],
        [5.8, 2.8, 5.1, 2.4],
        [6.4, 3.2, 5.3, 2.3],
        [6.5, 3. , 5.5, 1.8],
        [7.7, 3.8, 6.7, 2.2],
        [7.7, 2.6, 6.9, 2.3],
        [6. , 2.2, 5. , 1.5],
        [6.9, 3.2, 5.7, 2.3],
        [5.6, 2.8, 4.9, 2. ],
        [7.7, 2.8, 6.7, 2. ],
        [6.3, 2.7, 4.9, 1.8],
        [6.7, 3.3, 5.7, 2.1],
        [7.2, 3.2, 6. , 1.8],
        [6.2, 2.8, 4.8, 1.8],
        [6.1, 3. , 4.9, 1.8],
        [6.4, 2.8, 5.6, 2.1],
        [7.2, 3. , 5.8, 1.6],
        [7.4, 2.8, 6.1, 1.9],
        [7.9, 3.8, 6.4, 2. ],
        [6.4, 2.8, 5.6, 2.2],
        [6.3, 2.8, 5.1, 1.5],
        [6.1, 2.6, 5.6, 1.4],
        [7.7, 3. , 6.1, 2.3],
        [6.3, 3.4, 5.6, 2.4],
        [6.4, 3.1, 5.5, 1.8],
        [6. , 3. , 4.8, 1.8],
        [6.9, 3.1, 5.4, 2.1],
        [6.7, 3.1, 5.6, 2.4],
        [6.9, 3.1, 5.1, 2.3],
        [5.8, 2.7, 5.1, 1.9],
        [6.8, 3.2, 5.9, 2.3],
        [6.7, 3.3, 5.7, 2.5],
        [6.7, 3. , 5.2, 2.3],
        [6.3, 2.5, 5. , 1.9],
        [6.5, 3. , 5.2, 2. ],
        [6.2, 3.4, 5.4, 2.3],
        [5.9, 3. , 5.1, 1.8]]),
 'target': array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2]),
 'target_names': array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 'DESCR': '.. _iris_dataset:\n\nIris plants dataset\n--------------------\n\n**Data Set Characteristics:**\n\n    :Number of Instances: 150 (50 in each of three classes)\n    :Number of Attributes: 4 numeric, predictive attributes and the class\n    :Attribute Information:\n        - sepal length in cm\n        - sepal width in cm\n        - petal length in cm\n        - petal width in cm\n        - class:\n                - Iris-Setosa\n                - Iris-Versicolour\n                - Iris-Virginica\n                \n    :Summary Statistics:\n\n    ============== ==== ==== ======= ===== ====================\n                    Min  Max   Mean    SD   Class Correlation\n    ============== ==== ==== ======= ===== ====================\n    sepal length:   4.3  7.9   5.84   0.83    0.7826\n    sepal width:    2.0  4.4   3.05   0.43   -0.4194\n    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)\n    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)\n    ============== ==== ==== ======= ===== ====================\n\n    :Missing Attribute Values: None\n    :Class Distribution: 33.3% for each of 3 classes.\n    :Creator: R.A. Fisher\n    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)\n    :Date: July, 1988\n\nThe famous Iris database, first used by Sir R.A. Fisher. The dataset is taken\nfrom Fisher\'s paper. Note that it\'s the same as in R, but not as in the UCI\nMachine Learning Repository, which has two wrong data points.\n\nThis is perhaps the best known database to be found in the\npattern recognition literature.  Fisher\'s paper is a classic in the field and\nis referenced frequently to this day.  (See Duda & Hart, for example.)  The\ndata set contains 3 classes of 50 instances each, where each class refers to a\ntype of iris plant.  One class is linearly separable from the other 2; the\nlatter are NOT linearly separable from each other.\n\n.. topic:: References\n\n   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"\n     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to\n     Mathematical Statistics" (John Wiley, NY, 1950).\n   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.\n     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.\n   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System\n     Structure and Classification Rule for Recognition in Partially Exposed\n     Environments".  IEEE Transactions on Pattern Analysis and Machine\n     Intelligence, Vol. PAMI-2, No. 1, 67-71.\n   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions\n     on Information Theory, May 1972, 431-433.\n   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II\n     conceptual clustering system finds 3 classes in the data.\n   - Many, many more ...',
 'feature_names': ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 'filename': 'C:\\Anaconda3\\lib\\site-packages\\sklearn\\datasets\\data\\iris.csv'}